<div class="container mt-3 mb-3">
  <div class="details">
      <h2>Đăng Ký</h2>
    <hr style="height: 2px;
    background-color: black;
    border: none;
    margin: 20px 0;">
  </div>
  <form [formGroup]="signup" (ngSubmit)="submit()">
      <div class="input-container">
          <h5 for="name">Name</h5>
          <input type="text" id="name" placeholder="Enter your name" formControlName="name" required>
      </div>

      <div class="input-container">
          <h5 for="email">Email</h5>
          <input type="email" id="email" placeholder="Enter your email" formControlName="email" required>
      </div>

      <div class="input-container">
          <h5 for="phone">Phone</h5>
          <input type="text" id="phone" placeholder="Enter your phone number" formControlName="phone" required>
      </div>

      <div class="input-container">
          <h5 for="password">Password</h5>
          <input type="password" id="password" placeholder="Enter your password" formControlName="password" required>
      </div>

      <div class="button">
          <button type="submit" style="margin-left: 130px;">Đăng Ký</button>
      </div>
  </form>
</div>
